main {
  margin-top: 0;
}
/* Hero content */
h1{
  font-family: var(--second-font-family);
  position: absolute;
  top: 30%;
  left: 15%;
  background: rgba(10, 54, 65, 47%);
  backdrop-filter: blur(20px);
  color: white;
  font-size: clamp(20px, 2.08vw, 50px);
  -webkit-text-stroke: 1px;
  padding: 1.3vw 1.9vw 1.3vw 1.9vw;
  border-radius: 50px;
  text-align: center;
}

.active {
  color:#007A99;
  text-decoration: none;
  -webkit-text-stroke: 1.5px;
}

.selections {
  background-color: rgba(229, 235, 241, 100%);
}

/* FILTER BUTTON */
.sidebar input,
#filter-toggle{
  display: none;
}

.filter-button{
  font-size: 15px;
  font-family: var(--second-font-family);
  -webkit-text-stroke: 1.3px;

  position: absolute;
  top: 250px;
  padding: 1vw 1.2vw 1vw 1.2vw;
  background-color: white;
  color: black; 
}
.filter-button:hover {
  background-color: rgba(10, 54, 65, 0.47);
  backdrop-filter: blur(20px);
  color: white;
  translate: 1s;
}

.sidebar {
  position: absolute;
  left: -330px;
  top: 300px;
  width: 318px;
  background: white;
  z-index: 50;
  border-radius: 0 8px 8px 0;
  padding-left: 10px;
  transition: 0.5s;
}
.sidebar fieldset {
  border: none;
}

/* Main */
.products-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: -10vh;
  column-gap: clamp(2vw, 2vw, 20vw);
  row-gap: clamp(5vw, 10vw, 20vw);
  place-items: center;
}

.product-preview {
  display: grid;
  grid-template-rows: 1fr auto;
  width: clamp(150px, 15vw, 228px);
  height: clamp(200px, 25vw, 323px);
  border: solid 3px;
  border-color: rgba(10, 54, 65, 30%);
  border-radius: 10px;
  z-index: 2;
  padding: 10px;
  background-color: white;
  object-fit: contain;
  text-decoration: none;
  color: inherit;
}

.product-preview:hover {
  cursor: pointer;
  border-color: rgba(10, 54, 65, 100%);
  box-shadow: 1px 1px 10px  rgba(10, 54, 65, 50%);
}

.product-preview p {
  font-size: 12px;
  line-height: 1;
}
.brand-product {
  font-weight: 600;
}

.product-preview img{
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: 30%;
  justify-self: center;  
  object-fit: contain;
}

.product-info{
  height: 100%;

}


@media (max-width: 1200px){
  .products-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1{
    top: 40%;
  }
}
  

@media (max-width: 900px) {
.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#menu-toggle:checked ~ .top-bar ul {
  display: flex;
}

.filter-button {
  display: none;
}

.menu-mobile {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

#cart-icon,
#my-profil-icon {
  display: flex;
  padding-right: 20px;
}

.top-bar .home,
.top-bar .menu,
.my-profil span {
  display: none;
}

.top-bar{
  margin-right: 0;
  padding-right: 0;
  gap: 10px;
}

.hero {
  height: 500px;
}

h1 {

  left: 5%;
}

.products-area {
  grid-template-columns: 1fr 1fr;
}


footer {
  display: grid;
  grid-template-columns: 1fr;
}

.left-section {
  padding-bottom: 3vw;
}

.middle-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 3vw;
}

.right-section {
  place-items: start;
}
}
@media (max-width: 700px) {
  
  .header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
 }
}

  @media (max-width: 600px) {
    h1{
      top: 20%;
      width: 70%;
      -webkit-text-stroke: 0.5px;
      text-wrap: balance;
    }

    .hero{
      height: 50vw;
      margin-top: 10%;
    }
    
    .products-area{
      grid-template-columns: 1fr 1fr;
      justify-self: center;
      margin-top: -30px;
    }
  }
  @media (max-width: 360px) {
    .products-area{
      grid-template-columns: 1fr;
    }
   
  }
 
  
  